mailer = "{{ vault_toto_email }}mailer@gmail.com"
mailer_pw = "{{ vault_toto_mailer_pw }}"
from_email = "{{ vault_toto_email }}@gmail.com"
to_email = "{{ vault_toto_email }}@gmail.com"
#type_frigo = "real"
type_frigo = "fake"
event_server = "http://eventServer/event"
csvFile = "/home/toto/frigo/frigo.csv"
htmlFile = "/home/toto/frigo/html/frigo.html"

