mailer = "{{ vault_toto_email }}mailer@gmail.com"
mailer_pw = "{{ vault_toto_mailer_pw }}"
from_email = "{{ vault_toto_email }}@gmail.com"
to_email = "{{ vault_toto_email }}@gmail.com"

type_frigo = "real"
#type_frigo = "fake"
event_server = "http://192.168.0.83/event"
csvFile = "/opt/frigo/frigo.csv"
htmlFile = "/opt/frigo/html/frigo.html"

