# parameters for watchdog prod
# I didn't find yet how to use this efficiently and replaced this by a blockinfile instead

#mustBeUp = [
#        ("voo_router",      "192.168.0.1"),
#        ("webcamChalet",    "192.168.0.4"),
#        # ("HP5520 printer",  "192.168.0.6"),
#        ("alarmSystem",     "192.168.0.9"),
#        ("linksysed_router","192.168.0.50"),
#        #("sd4",             "192.168.0.94"),
#        #("vayo",            "192.168.0.45"),
#        ("sd3",             "192.168.0.83"),
#        #("sd5",             "192.168.0.75"),
#        ("sd8",             "192.168.0.78")
#    ]