mailer = "{{ vault_toto_email }}mailer@gmail.com"
mailer_pw = "{{ vault_toto_mailer_pw }}"
from_email = "{{ vault_toto_email }}@gmail.com"
to_email = "{{ vault_toto_email }}@gmail.com"
monitor_server = "{{ vars_monitor_server }}"
event_server = "http://eventServer/event"
main_watchdog = "{{ vars_main_watchdog }}"
