<?php
//$webserver = "192.168.0.147";
$webserver = "localhost";
//$dbhost = "{{ event_db_server }}";
$dbhost = "localhost";

$params = array(
    "mysql_username" => "toto",
    "mysql_password" => "Toto!",
    "sqlite_db" => "/opt/db/mydatabase_dev.db",
    "db_type" => "mysql"
);
// echo $params["mysql_username"];
// echo "test";

?>
